{namespace tm=Telematika\TmChillio\ViewHelpers}
<f:if condition="{regions}">
    <div class="fieldset">
        <tm:regionSelect targetAction="get5thLevelRegions" targetController="Region" pageType="100" name="fithLevelRegion" options="{regions}" optionValueField="uid" optionLabelField="name" id="search_city" class="selectMenu" prependElement="{0: 'Bitte Ort wählen'}" />
    </div>
</f:if>