{namespace tm=Telematika\TmChillio\ViewHelpers}
<fieldset>
    <tm:regionSelect targetAction="getSubRegions" pageType="100" name="firstLevelRegion" options="{regions}" optionValueField="uid" optionLabelField="name" id="search_region" class="selectMenu" />
</fieldset>

<f:if condition="{0: regionLevel} == {0: 2}">
    <f:then>
        <fieldset>
            <f:form.select name="firstLevelRegion" options="{regions}" optionValueField="uid" optionLabelField="name" id="search_region" class="selectMenu" />
        </fieldset>
    </f:then>
</f:if>
<f:if condition="{0: regionLevel} == {0: 3}">
    <f:then>
        <fieldset>
            <f:form.select name="firstLevelRegion" options="{regions}" optionValueField="uid" optionLabelField="name" id="search_city" class="selectMenu" />
        </fieldset>
    </f:then>
</f:if>