{namespace tm=Telematika\TmChillio\ViewHelpers}
<form action="#">
    <span>Wo soll es hingehen?</span>
    <fieldset>
        <tm:regionSelect targetAction="get2ndLevelRegions" pageType="100" name="firstLevelRegion" options="{regions}" optionValueField="uid" optionLabelField="name" id="search_country" class="selectMenu" />
    </fieldset>
</form>

<script type="text/javascript">
    var url = "{f:uri.action(action: 'getSubRegions', pageType : 100)}";
    jQuery(document).ready(function() {
        jQuery('#search_country').selectmenu({
            change: function(event, data) {
                jQuery('#search_region').parent('fieldset').remove();
                jQuery('#search_city').parent('fieldset').remove();
                var ajaxUrlCountry = jQuery(this).find('option[value="' + data.item.value + '"]').attr('subregionurl');

                chillio.addElementViaAjax(ajaxUrlCountry, jQuery('#search_where form'), false, chillio.init2ndLevelRegionFilter);
            }
        });
    });
</script>