{namespace tm=Telematika\TmChillio\ViewHelpers}
<f:if condition="{region}">
    <div class="block_search hide">1</div>
    <div class="region_text">
        <tm:buildRegionBreadcrumb region="{region}" pageUid="6" class="region_breadcrumb" />
        <f:format.html>{region.landingText}</f:format.html>
    </div>
</f:if>