<div class="content_box_wrap">
    <div class="content_box">
        <f:for each="{object.image}" as="image">
            <f:image src="{image.originalResource.publicUrl}" alt="{object.chillioTitle}" width="290c" height="290c" />
        </f:for>
        <h2>{object.header}</h2>
        <f:format.html>{object.bodytext}</f:format.html>
    </div>
</div>
