table, textarea, body {
    font-size: 14px;
    font-family: Arial, serif;
}

h1, h2, h3, h4 {
    text-align: left;
}

h1 {
    font-size: 18px;
    margin: 20px 0;
}

h2 {
    font-size: 16px;
    font-weight: normal;
    margin: 20px 0;
}

h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0;
}

h4 {
    font-size: 14px;
    font-weight: bold;
    margin: 20px 0;
}

input {
    font-size: 100%;
    padding: 5px;
    width: 389px;
}
textarea {
    font-size: 100%;
    padding: 5px;
    margin: 3px;
    width: 389px;
    border: 2px inset #bbbbbb;
}

textarea:hover {
    border: 2px inset #bbbbbb;
}

#typo3-docbody select {
    width: 389px;
    padding: 5px;
    margin: 3px;
    font-size: 14px;
}

input[type="submit"] {
    padding: 5px 20px;
    width: auto;
    margin: 10px 0 10px 3px;
}

table {
    border: solid #000 1px;
    margin: 20px 0;
}

table th {}

table td, table th {
    padding: 5px;
    background-color: #DADADA;
}

table td a, a {
    font-weight: bold;
}

table td a:hover, a:hover {
    text-decoration: underline;
}

.imageEdit {
    margin-top: 10px;
}

ul.f3-widget-paginator {
    list-style: none;
    clear: both;
}

ul.f3-widget-paginator li {
    float: left;
    margin-right: 5px;
}