{namespace tm=Telematika\TmChillio\ViewHelpers}
<f:if condition="{accommodation}">
            <div class="accommodation_item__detail">
                <div class="accommodation_item_left__detail">
                    <div class="accommodation_item_previewImage_detail">
                        <f:for each="{accommodation.image}" as="image">
                            <img src="{image.path}" alt="{accommodation.title} - Bild" width="640" />
                        </f:for>
                    </div>
                    <div class="bot_slider">
                        <f:for each="{accommodation.image}" as="image">
                            <img src="{image.path}" alt="{accommodation.title} - Bild" height="85" />
                        </f:for>
                    </div>
                </div>
                </div>


    Angebotsdetails:
    {accommodation.objectId}
    {accommodation.title}
    {accommodation.street}
    {accommodation.plz}
    {accommodation.city}
    {accommodation.remark}
    {accommodation.pets}
    {accommodation.gps}
    accommodation.room array
    {accommodation.room.0.title}
    accommodation.image array
    {accommodation.image.0.path}
    accommodation.features array

    <f:link.action action="search" controller="Accommodation" pluginName="SearchForm" pageType="100" arguments="{firstLevelRegion : currentRegion}" class="doAjax">zurück zur Objektliste</f:link.action>
</f:if>