<div id="wrapper">
    <div id="header">
        <!--<div id="top_bar">
            <div id="top_bar_wrap">-->
        <!--<div id="logo">
            <a href="#">
                <img src="typo3conf/ext/tm_chillio/Resources/Public/img/chillio_logo_slogan.png"
                     alt="Chillio Logo" title="Chillio Logo">
            </a>
        </div>-->
        <nav class="navbar navbar-default">
            <div id="navi" class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img
                            src="typo3conf/ext/tm_chillio/Resources/Public/img/chillio_logo_slogan.png"
                            alt="Chillio Logo" title="Chillio Logo">
                    </a>

                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#">chillio Special</a>
                        </li>
                        <li class="dropdown second-item">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false">
                                Meine Merkliste (2)
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Objekt</a>
                                </li>
                                <li>
                                    <a href="#">Objekt</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menuItem-blue">
                            <a href="#">Unterkunft vermieten</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--</div>
    </div>-->
    </div>
    <div id="sideholder" class="wishlist row">
        <div id="row1" class="col-lg-2">
            <div class="placeholder">

            </div>
            <div class="compare-prices col-lg-12">
                <h4>Preise</h4>

                <div class="compare-prices-date-from col-lg-12">
                    <span class="compare-prices-date-from-label">Anreise</span>
                    <span class="compare-prices-date-from-value">Mo. 29.06.2015</span>
                </div>
                <div class="compare-prises-date-to col-lg-12">
                    <span class="compare-prices-date-to-label">Anreise</span>
                    <span class="compare-prices-date-to-value">Mo. 06.07.2015</span>
                </div>
                <div class="compare-prises-adults col-lg-12">
                    <span class="compare-prices-adults-value">4</span> Personen
                </div>
                <div class="compare-prises-childs col-lg-12">
                    <span class="compare-prices-childs-value">2</span> Kinder
                </div>
            </div>
            <div class="compare-top-features col-lg-12">
                <h4>Die besten Ausstattungmerkmale</h4>
            </div>
            <div class="compare-distances col-lg-12">
                <h4>Entfernungsangaben</h4>
            </div>
            <div class="compare-features col-lg-12">
                <h4>Ausstattung</h4>
            </div>
            <div class="compare-pictures col-lg-12">
                <h4>Bilder</h4>
            </div>
        </div>
        <div id="row2" class="col-lg-3">
            <div class="compare-objects col-lg-12">
                <h4>Ferienwohnung</h4>

                <div class="compare-objects-place"><i class="fa fa-map-marker"></i>Göhren auf Rügen</div>
                <div class="compare-objects-image">
                    <div class="compare-objects-image-close"></div>
                    <div class="compare-objects-image-link"></div>
                    <img src="typo3conf/ext/tm_chillio/Ressources/Public/img/dummy-bild.png" class="compare-objects-image-img"/>
                </div>
                <div class="compare-objects-stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                        class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i
                        class="fa fa-star-o"></i> <span>20 Bewertungen</span></div>
                <div class="compare-objects-discription">
                    <h4>Ferienwohnung</h4>

                    <div class="compare-objects-discription-size"></div>
                    <div class="compare-objects-discription-persons"></div>
                    <div class="compare-objects-discription-pets"></div>
                </div>
            </div>
            <div class="compare-prises col-lg-12">
                <h4>Zusatzpreise</h4>

                <div class="compare-prises-additional">Parkplatzgebühr <span
                        class="compare-prises-additional-value"></span>
                </div>
                <div class="compare-prises-additional">Endreinigung <span
                        class="compare-prises-additional-value"></span>
                </div>
                <div class="compare-prises-season">Hauptsaison ab<span class="compare-prises-season-value"> 40€</span>p.Nacht
                </div>
                <div class="compare-prises-season">Hauptsaison ab<span class="compare-prises-season-value"> 25€</span>p.Nacht
                </div>
                <div class="compare-prises-actual">ab<span class="compare-prises-actul-value"> 25€</span></div>
                <div class="button"><a href="#" >Angebot erstellen</a></div>
            </div>
            <div class="compare-top-features col-lg-12">
                <div class="compare-top-features-icon col-lg-4"></div>
                <div class="compare-top-features-icon col-lg-4"></div>
                <div class="compare-top-features-icon col-lg-4"></div>
                <div class="compare-top-features-icon col-lg-4"></div>
                <div class="compare-top-features-icon col-lg-4"></div>
                <div class="compare-top-features-icon col-lg-4"></div>
                <div class="compare-top-features-icon col-lg-4"></div>
                <div class="compare-top-features-icon col-lg-4"></div>
                <div class="compare-top-features-icon col-lg-4"></div>
            </div>
            <div class="compare-distances col-lg-12">
                <div class="compare-distances-part">
                    <span class="compare-distances-part-place">zum Strand</span>
                    <span class="compare-distances-part-dist">500m</span>
                </div>
                <div class="compare-distances-part">
                    <span class="compare-distances-part-place">nächster Wanderweg</span>
                    <span class="compare-distances-part-dist">200m</span>
                </div>
                <div class="compare-distances-part">
                    <span class="compare-distances-part-place">Bäcker</span>
                    <span class="compare-distances-part-dist">30m</span>
                </div>
                <div class="compare-distances-part">
                    <span class="compare-distances-part-place">Schwimmbad</span>
                    <span class="compare-distances-part-dist">800m</span>
                </div>
                <div class="compare-distances-part">
                    <span class="compare-distances-part-place">Restaurant</span>
                    <span class="compare-distances-part-dist">350m</span>
                </div>
            </div>
            <div class="compare-features col-lg-12">
                <div class="compare-features-general">
                    <h4>Allgemein</h4>

                    <div class="compare-features-general-part">allergikerfreundlich</div>
                    <div class="compare-features-general-part">Schlafsofa</div>
                    <div class="compare-features-general-part">Balkon</div>
                    <div class="compare-features-general-part">Seeblick</div>
                    <div class="compare-features-general-part">Meerblick</div>
                    <div class="compare-features-general-part">Doppelbett</div>
                    <div class="compare-features-general-part">Einzelzimmer</div>
                </div>
                <div class="compare-features-kitchen">
                    <h4>Küche</h4>

                    <div class="compare-features-general-part">separate Küche</div>
                    <div class="compare-features-general-part">Backofen</div>
                    <div class="compare-features-general-part">Kühlschrank</div>
                    <div class="compare-features-general-part">Gefriermöglichkeit</div>
                    <div class="compare-features-general-part">Spülmaschine</div>
                </div>
                <div class="compare-features-bathroom">
                    <h4>Bad</h4>

                    <div class="compare-features-general-part">Bad/WC</div>
                    <div class="compare-features-general-part">WC-Toilette</div>
                    <div class="compare-features-general-part">Badewanne</div>
                    <div class="compare-features-general-part">Haartrockner</div>
                    <div class="compare-features-general-part">Dusche</div>
                </div>
            </div>
            <div class="compare-pictures col-lg-12">
                <div class="compare-pictures-image col-lg-6">
                    <img src="" class="compare-pictures-image-img"/>
                </div>
                <div class="compare-pictures-image col-lg-6">
                    <img src="" class="compare-pictures-image-img"/>
                </div>
                <div class="compare-pictures-image col-lg-6">
                    <img src="" class="compare-pictures-image-img"/>
                </div>
                <div class="compare-pictures-image col-lg-6">
                    <img src="" class="compare-pictures-image-img"/>
                </div>
                <div class="compare-pictures-image col-lg-6">
                    <img src="" class="compare-pictures-image-img"/>
                </div>
                <div class="compare-pictures-image col-lg-6">
                    <img src="" class="compare-pictures-image-img"/>
                </div>
            </div>
        </div>


    </div>
    <div id="footer">
        <div id="footer_container">
            <div class="footer-column">
                <h2>Unternehmen</h2>
                <ul>
                    <li><a href="#">Über uns</a></li>
                    <li><a href="#">Jobs</a></li>
                    <li><a href="#">Presse</a></li>
                    <li><a href="#">AGBs</a></li>
                    <li><a href="#">Datenschutz</a></li>
                    <li><a href="#">Impressum</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h2>Entdecken</h2>
                <ul>
                    <li><a href="#">Site Maps</a></li>
                    <li><a href="#">Hilfe und FAQ</a></li>
                    <li><a href="#">Kontakt</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h2>Für Vermieter</h2>
                <ul>
                    <li><a href="#">Betreiben von Unterkünften</a></li>
                    <li><a href="#">über chillio.de</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h2>Partner</h2>
                <ul>
                    <li><a href="#">Partner A</a></li>
                    <li><a href="#">Partner B</a></li>
                </ul>
            </div>
            <div class="footer-column-last">

                <ul class="footer_social_list">
                    <li><a href="#"><i class="fa fa-facebook fa-2x"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus fa-2x"></i></a></li>
                </ul>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
</div>
