<div id="wrapper">
    <div id="header">
        <!--<div id="top_bar">
            <div id="top_bar_wrap">-->
        <!--<div id="logo">
            <a href="#">
                <img src="typo3conf/ext/tm_chillio/Resources/Public/img/chillio_logo_slogan.png"
                     alt="Chillio Logo" title="Chillio Logo">
            </a>
        </div>-->
        <nav class="navbar navbar-default">
            <div id="navi" class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <f:cObject typoscriptObjectPath="lib.logo"/>

                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <f:cObject typoscriptObjectPath="lib.TopmenuStart"/>
                </div>
            </div>
        </nav>
        <!--</div>
    </div>-->
        <div id="sideholder" class="row">
            <div id="buttonSearchFilter" class="visible-xs">
                <a class="btn btn-default" role="button">Suchfilter</a>
            </div>
            <div id="leftcontent" class="col-xs-offset-3 col-xs-9 col-sm-offset-0 col-sm-4 col-md-4 col-lg-3">
                <div id="search">
                    <f:cObject typoscriptObjectPath="lib.tm_chillio_search_form"/>
                </div>
            </div>
            <div id="rightcontent" class="col-xs-12 col-sm-8 col-md-8 col-lg-9">
                <div id="switch_bar">
                    <button id="switch_bar_listbutton">Listenansicht</button>
                    <button id="switch_bar_mapbutton" class="active">Kartenansicht</button>
                    <form>
                        <select name="sort_results" id="sort_results" class="selectMenu">
                            <option value="normal">Sortieren nach</option>
                            <option value="price">Preis</option>
                            <option value="name">Name</option>
                            <option value="rating">Bewertung</option>
                        </select>
                    </form>
                </div>
                <div id="map"></div>
                <div id="result_list_display">
                    <div id="result_list_loading"
                         style="position: absolute; width: 100%; height: 800px; display: none; z-index: 1100; background: rgba(255,255,255,.66);">
                        <img src="/typo3conf/ext/tm_chillio/Resources/Public/img/ladegrafik3.gif"
                             style="position: relative; top:50%; left: 50%; margin-left: -64px; margin-top: -64px;"/>
                    </div>
                    <div id="result_list">
                        <f:cObject typoscriptObjectPath="lib.tm_chillio_landing_text"/>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id="footer">
        <div id="footer_container">
            <ul>
                <li><a href="index.php?id=7">Über uns</a></li>
                <li><a href="index.php?id=8">Jobs</a></li>
                <li><a href="index.php?id=9">Presse</a></li>
                <li><a href="index.php?id=10">AGBs</a></li>
                <li><a href="index.php?id=11">Datenschutz</a></li>
                <li><a href="index.php?id=12">Impressum</a></li>
            </ul>
            <div class="clear"></div>
            <ul class="footer-lessor">
                <li>Vermieterbereich</li>
            </ul>
            <div class="clear"></div>
            <ul class="footer_social_list">
                <li><a href="#"><i class="fa fa-facebook fa-2x"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus fa-2x"></i></a></li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
</div>
