
<div id="header">
    <!--<div id="top_bar">
        <div id="top_bar_wrap">-->
    <!--<div id="logo">
        <a href="#">
            <img src="typo3conf/ext/tm_chillio/Resources/Public/img/chillio_logo_slogan.png"
                 alt="Chillio Logo" title="Chillio Logo">
        </a>
    </div>-->
    <nav class="navbar navbar-default">
        <div id="navi" class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <f:cObject typoscriptObjectPath="lib.logo"/>

            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <f:cObject typoscriptObjectPath="lib.TopmenuStart"/>
            </div>
        </div>
    </nav>
    <!--</div>
</div>-->
</div>
<div id="siteholder">

    <div id="content">
        <f:cObject typoscriptObjectPath="lib.special_first_col" />
    </div>



</div>
<div id="start-footer">
    <div id="start-footer_container">
        <f:cObject typoscriptObjectPath="lib.FooterStart"/>
        <div class="footer-column-last">

            <ul class="footer_social_list">
                <li><a href="#"><i class="fa fa-facebook fa-2x"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus fa-2x"></i></a></li>
            </ul>
        </div>
        <div style="clear: both;"></div>
    </div>
</div>
