<div id="siteholder">
    <div id="header">
        <nav class="navbar navbar-default">
            <div id="navi" class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <f:cObject typoscriptObjectPath="lib.logo"/>

                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <f:cObject typoscriptObjectPath="lib.TopmenuStart"/>
                </div>
            </div>
        </nav>
        <div id="sliderholder">
            <div id="searchbar">
                <div class="searchbar-form-container">
                <f:cObject typoscriptObjectPath="lib.tm_chillio_startpage_form"/>
                </div>
            </div>
            <div id="start_slider" style="background: url('{f:cObject(typoscriptObjectPath : 'lib.bgimage')}')repeat-x 0 0;">

            </div>
            <!--<div id="start_slogan">
                <div id="start_slogan_wrap">
                    <a href="#">
                        <img src="typo3conf/ext/tm_chillio/Resources/Public/img/chillio_logo.png" alt="chillio" title="chillio" />
                    </a>
                    <h1>Wir machen URLAUB</h1>
                </div>
            </div>-->
        </div>
    </div>
    <div id="content">
        <div id="start-third-frame" class="col-lg-12">
            <div class="vertical-line col-lg-6 col-lg-offset-3">
            </div>
            <div class="start-offers col-lg-6 col-lg-offset-3">
                <h2>Chillio Specials</h2>
                <h4>Außergewöhnliche Urlaubsangebote für einen ganz individuellen Urlaub</h4>
                <div class="start-offers-slider col-lg-12">
                    <!--Begin Slider-Item -->
                    <div class="start-offers-item col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="start-offers-item-image col-xs-12 col-sm12 col-md-12 col-lg-12">
                            <img src="typo3conf/ext/tm_chillio/Resources/Public/img/special-fifth-frame-text.png"
                                 class="start-offers-item-image-img"/>
                        </div>
                        <div class="start-offers-item-description col-xs-12 col-sm12 col-md-12 col-lg-12">
                            <h4>test</h4>

                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                Aenean commodo ligula eget dolor. Aenean massa.
                                Cum sociis natoque penatibus et magnis dis parturient
                                montes, nascetur ridiculus mus.
                            </p>

                            <div class="start-offers-item-description-region">
                                Region: Ostsee zwischen Schweden und Rügen
                            </div>


                        </div>

                        <div class="start-offers-item-more">
                            <a href="#">mehr</a>
                        </div>
                    </div>
                    <!-- End Slider-Item-->
                    <!--Begin Slider-Item -->
                    <div class="start-offers-item col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="start-offers-item-image col-xs-12 col-sm12 col-md-12 col-lg-12">
                            <img src="typo3conf/ext/tm_chillio/Resources/Public/img/special-fifth-frame-text.png"
                                 class="start-offers-item-image-img"/>
                        </div>
                        <div class="start-offers-item-description col-xs-12 col-sm12 col-md-12 col-lg-12">
                            <h4>Angebot</h4>

                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                Aenean commodo ligula eget dolor. Aenean massa.
                                Cum sociis natoque penatibus et magnis dis parturient
                                montes, nascetur ridiculus mus.
                            </p>

                            <div class="start-offers-item-description-region">
                                Region: Ostsee zwischen Schweden und Rügen
                            </div>


                        </div>

                        <div class="start-offers-item-more">
                            <a href="#">mehr</a>
                        </div>
                    </div>
                    <!-- End Slider-Item-->
                    <!--Begin Slider-Item -->
                    <div class="start-offers-item col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="start-offers-item-image col-xs-12 col-sm12 col-md-12 col-lg-12">
                            <img src="typo3conf/ext/tm_chillio/Resources/Public/img/special-fifth-frame-text.png"
                                 class="start-offers-item-image-img"/>
                        </div>
                        <div class="start-offers-item-description col-xs-12 col-sm12 col-md-12 col-lg-12">
                            <h4>Angebot</h4>

                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                Aenean commodo ligula eget dolor. Aenean massa.
                                Cum sociis natoque penatibus et magnis dis parturient
                                montes, nascetur ridiculus mus.
                            </p>

                            <div class="start-offers-item-description-region">
                                Region: Ostsee zwischen Schweden und Rügen
                            </div>


                        </div>

                        <div class="start-offers-item-more">
                            <a href="#">mehr</a>
                        </div>
                    </div>
                    <!-- End Slider-Item-->
                </div>
            </div>
        </div>
    </div>
</div>
<div id="start-footer">
    <div id="start-footer_container">
        <f:cObject typoscriptObjectPath="lib.FooterStart"/>

        <div class="footer-column-last">
            <ul class="footer_social_list">
                <li><a href="#"><i class="fa fa-facebook fa-2x"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus fa-2x"></i></a></li>
            </ul>
        </div>
        <div style="clear: both;"></div>
    </div>
</div>