<div id="wrapper">
    <div id="header">
        <!--<div id="top_bar">
            <div id="top_bar_wrap">-->
        <!--<div id="logo">
            <a href="#">
                <img src="typo3conf/ext/tm_chillio/Resources/Public/img/chillio_logo_slogan.png"
                     alt="Chillio Logo" title="Chillio Logo">
            </a>
        </div>-->
        <nav class="navbar navbar-default">
            <div id="navi" class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img
                            src="typo3conf/ext/tm_chillio/Resources/Public/img/chillio_logo_slogan.png"
                            alt="Chillio Logo" title="Chillio Logo">
                    </a>

                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#">chillio Special</a>
                        </li>
                        <li class="dropdown second-item">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false">
                                Meine Merkliste (2)
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Objekt</a>
                                </li>
                                <li>
                                    <a href="#">Objekt</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menuItem-blue">
                            <a href="#">Unterkunft vermieten</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--</div>
    </div>-->
    </div>
    <div id="sideholder" class="special row">
        <div id="special-first-frame" class="col-lg-12" style="background: url('{f:cObject(typoscriptObjectPath : 'lib.bg_image_top')}')no-repeat center center;   background-size: cover;">
            <f:cObject typoscriptObjectPath="lib.special_first_col" />
        </div>
        <div id="special-second-frame" class="col-lg-12">
            <div class="special-second-frame-paragraph col-lg-6 col-lg-offset-3">
                <f:cObject typoscriptObjectPath="lib.content_second_col" />
            </div>
            <div class="special-next-frame col-lg-2 col-lg-offset-5">
                <a target="#special-fourth-frame"> <i class="fa fa-angle-down fa-5x"></i></a>
            </div>
        </div>

        <div id="special-third-frame" class="col-lg-12">
            <div class="vertical-line col-lg-6 col-lg-offset-3">
                <hr/>
            </div>
            <div class="special-offers col-lg-6 col-lg-offset-3">
                <h2>Angebote zum Thema</h2>

                <div class="special-offers-slider col-lg-12">
                    <!--Begin Slider-Item -->
                    <div class="special-offers-item col-lg-4">
                        <div class="special-offers-item-image col-lg-12">
                            <img src="typo3conf/ext/tm_chillio/Resources/Public/img/special-fifth-frame-text.png"
                                 class="special-offers-item-image-img"/>
                        </div>
                        <div class="special-offers-item-description col-lg-12">
                            <h4>Angebot</h4>

                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                Aenean commodo ligula eget dolor. Aenean massa.
                                Cum sociis natoque penatibus et magnis dis parturient
                                montes, nascetur ridiculus mus.
                            </p>

                            <div class="special-offers-item-description-region">
                                Region: Ostsee zwischen Schweden und Rügen
                            </div>


                        </div>
                        <div class="special-offers-item-details col-lg-12">
                            <div class="special-offers-item-details-stars">
                                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                    class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                            </div>
                            <div class="special-offers-item-details-price">
                                5 Tage ab 120€
                            </div>
                        </div>
                        <div class="special-offers-item-more">
                            <a href="#">mehr</a>
                        </div>
                    </div>
                    <!-- End Slider-Item-->
                    <!--Begin Slider-Item -->
                    <div class="special-offers-item col-lg-4">
                        <div class="special-offers-item-image col-lg-12">
                            <img src="typo3conf/ext/tm_chillio/Resources/Public/img/special-fifth-frame-text.png"
                                 class="special-offers-item-image-img"/>
                        </div>
                        <div class="special-offers-item-description col-lg-12">
                            <h4>Angebot</h4>

                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                Aenean commodo ligula eget dolor. Aenean massa.
                                Cum sociis natoque penatibus et magnis dis parturient
                                montes, nascetur ridiculus mus.
                            </p>

                            <div class="special-offers-item-description-region">
                                Region: Ostsee zwischen Schweden und Rügen
                            </div>


                        </div>
                        <div class="special-offers-item-details col-lg-12">
                            <div class="special-offers-item-details-stars">
                                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                    class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                            </div>
                            <div class="special-offers-item-details-price">
                                5 Tage ab 120€
                            </div>
                        </div>
                        <div class="special-offers-item-more">
                            <a href="#">mehr</a>
                        </div>
                    </div>
                    <!-- End Slider-Item-->
                    <!--Begin Slider-Item -->
                    <div class="special-offers-item col-lg-4">
                        <div class="special-offers-item-image col-lg-12">
                            <img src="typo3conf/ext/tm_chillio/Resources/Public/img/special-fifth-frame-text.png"
                                 class="special-offers-item-image-img"/>
                        </div>
                        <div class="special-offers-item-description col-lg-12">
                            <h4>Angebot</h4>

                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                Aenean commodo ligula eget dolor. Aenean massa.
                                Cum sociis natoque penatibus et magnis dis parturient
                                montes, nascetur ridiculus mus.
                            </p>

                            <div class="special-offers-item-description-region">
                                Region: Ostsee zwischen Schweden und Rügen
                            </div>


                        </div>
                        <div class="special-offers-item-details col-lg-12">
                            <div class="special-offers-item-details-stars">
                                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                    class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                            </div>
                            <div class="special-offers-item-details-price">
                                5 Tage ab 120€
                            </div>
                        </div>
                        <div class="special-offers-item-more">
                            <a href="#">mehr</a>
                        </div>
                    </div>
                    <!-- End Slider-Item-->
                </div>
            </div>
        </div>
        <div id="special-fourth-frame" class="col-lg-12"  style="background: url('{f:cObject(typoscriptObjectPath : 'lib.bg_image_bottom')}')no-repeat center center;   background-size: cover;">
            <div class="special-fourth-frame-caption col-lg-6 col-lg-offset-3">
                <f:cObject typoscriptObjectPath="lib.content_fourth_col" />

            </div>
        </div>
        <div id="special-fifth-frame" class="col-lg-12">
            <div class="special-fifth-frame-text col-lg-6 col-lg-offset-3">
                <f:cObject typoscriptObjectPath="lib.content_fifth_col" />
            </div>

        </div>

    </div>
    <div id="footer">
        <div id="footer_container">
            <div class="footer-column">
                <h2>Unternehmen</h2>
                <ul>
                    <li><a href="#">Über uns</a></li>
                    <li><a href="#">Jobs</a></li>
                    <li><a href="#">Presse</a></li>
                    <li><a href="#">AGBs</a></li>
                    <li><a href="#">Datenschutz</a></li>
                    <li><a href="#">Impressum</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h2>Entdecken</h2>
                <ul>
                    <li><a href="#">Site Maps</a></li>
                    <li><a href="#">Hilfe und FAQ</a></li>
                    <li><a href="#">Kontakt</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h2>Für Vermieter</h2>
                <ul>
                    <li><a href="#">Betreiben von Unterkünften</a></li>
                    <li><a href="#">über chillio.de</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h2>Partner</h2>
                <ul>
                    <li><a href="#">Partner A</a></li>
                    <li><a href="#">Partner B</a></li>
                </ul>
            </div>
            <div class="footer-column-last">

                <ul class="footer_social_list">
                    <li><a href="#"><i class="fa fa-facebook fa-2x"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus fa-2x"></i></a></li>
                </ul>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
</div>
