{namespace tm=Telematika\TmChillio\ViewHelpers}
<f:comment>exclusives for booking</f:comment>

<h4>Hier können Sie zusätzliche Leistungen buchen!</h4>
<table class="exclusives">
    <f:for each="{exclusives}" as="excl">
        <f:switch expression="{excl.attributes.id}">
            <f:case value="insurance2storno">
            </f:case>
            <f:case value="insurance2stornoplus">
            </f:case>
            <f:case default="TRUE">
                <tr>
                    <td>
                        {excl.name}
                        <f:if condition="{excl.descr}">
                            ({excl.descr})
                        </f:if>
                    </td>
                    <f:if condition="{0: excl.type} == {0: 'quantity'}">
                        <f:then>
                            <td>
                                <f:form.textfield name="exclusives[{excl.attributes.id}]" size="2" maxlength="2" />&nbsp;x
                            </td>
                            <td>
                                <f:format.number decimals="2" decimalSeparator="," thousandsSeparator=".">{excl.sumprice}</f:format.number> &euro;
                            </td>
                        </f:then>
                        <f:else>
                            <td>
                                <tm:checkbox name="exclusives[{excl.attributes.id}]" value="1" />
                            </td>
                            <td>
                                <f:format.number decimals="2" decimalSeparator="," thousandsSeparator=".">{excl.sumprice}</f:format.number> &euro;
                            </td>
                        </f:else>
                    </f:if>
                </tr>
            </f:case>
        </f:switch>
    </f:for>
</table>