{namespace tm=Telematika\TmChillio\ViewHelpers}
<f:comment>inclusives for booking</f:comment>

<h4>Gesamtpreis</h4>
<table class="inclusives">
    <f:if condition="{inclusives}">
        <f:then>
            <f:if condition="{inclusives.0}">
                <f:then>
                    <f:for each="{inclusives}" as="incl">
                        <tr>
                            <td>{incl.name}</td>
                            <f:if condition="{incl.price} > 0">
                                <f:then>
                                    <td><f:format.number decimals="2" decimalSeparator="," thousandsSeparator=".">{incl.price}</f:format.number> &euro;</td>
                                </f:then>
                                <f:else>
                                    <td>&nbsp;</td>
                                </f:else>
                            </f:if>
                            <td>inklusive</td>
                        </tr>
                    </f:for>
                </f:then>
                <f:else>
                    <tr>
                        <td>{inclusives.name}</td>
                        <f:if condition="{inclusives.price} > 0">
                            <f:then>
                                <td><f:format.number decimals="2" decimalSeparator="," thousandsSeparator="." >{inclusives.price}</f:format.number> &euro;</td>
                            </f:then>
                            <f:else>
                                <td>&nbsp;</td>
                            </f:else>
                        </f:if>
                        <td>inklusive</td>
                    </tr>
                </f:else>
            </f:if>
        </f:then>
    </f:if>
    <f:if condition="{pricing}">
        <f:then>
            <f:for each="{pricing.positions}" as="position">
                <tr>
                    <td>{position.name}</td>
                    <f:if condition="{position.number} > 1">
                        <f:then>
                            <td>{position.number}x <f:format.number decimals="2" decimalSeparator="," thousandsSeparator=".">{position.price}</f:format.number> &euro;</td>
                        </f:then>
                        <f:else>
                            <td>&nbsp;</td>
                        </f:else>
                    </f:if>
                    <td><f:format.number decimals="2" decimalSeparator="," thousandsSeparator=".">{position.totalprice}</f:format.number> &euro;</td>
                </tr>
            </f:for>
            <tr>
                <td>Preis für die Unterkunft</td>
                <td>&nbsp;</td>
                <td><f:format.number decimals="2" decimalSeparator="," thousandsSeparator=".">{sumprice}</f:format.number> &euro;</td>
            </tr>
            <tr>
                <th>Gesamtpreis: </th>
                <th>&nbsp;</th>
                <th><f:format.number decimals="2" decimalSeparator="," thousandsSeparator=".">{pricing.totalPrice}</f:format.number> &euro;</th>
            </tr>
        </f:then>
        <f:else>
            <tr>
                <th>Gesamtpreis: </th>
                <th>&nbsp;</th>
                <th><f:format.number decimals="2" decimalSeparator="," thousandsSeparator=".">{sumprice}</f:format.number> &euro;</th>
            </tr>
        </f:else>
    </f:if>
</table>