<f:if condition="{roomInformation.content.resultitem}">
    <f:then>

        <f:render partial="Accommodation/Inclusives" arguments="{inclusives : roomInformation.content.resultitem.inclusive.incl, sumprice : roomInformation.content.resultitem.sumprice}" />

        <f:if condition="{roomInformation.content.resultitem.payment.deposit}">
            <f:then>
                <h4>Zahlungsmodalitäten</h4>
                <table>
                    <tr>
                        <td>Anzahlung</td>
                        <td>{roomInformation.content.resultitem.payment.deposit} &euro;</td>
                    </tr>
                    <tr>
                        <td>Abschlusszahlung</td>
                        <td>{roomInformation.content.resultitem.payment.final} &euro;</td>
                    </tr>
                </table>
            </f:then>
        </f:if>

        <f:if condition="{roomInformation.content.resultitem.exclusive.excl.2}">
            <f:render partial="Accommodation/Exclusives" arguments="{exclusives : roomInformation.content.resultitem.exclusive.excl}" />
        </f:if>

        <f:form.submit id="bw-modal-booking1-button-1" class="submit btn btn-primary" value="weiter" />
    </f:then>
    <f:else>
        <p>Das gewählte Objekt ist für den Zeitraum nicht verfügbar</p>
    </f:else>
</f:if>