<div>
    <div>{room.room_min_person}-{room.room_max_person}&nbsp;Pers.</div>
    <div>{room.room_size} m²</div>
    <f:if condition="{room.bedrooms}">
        <f:then>
            <div>{room.room_bedrooms}-Raum</div>
        </f:then>
        <f:else>
            <div>1-Raum</div>
        </f:else>
    </f:if>
    <div>
        <f:format.number decimals="2" decimalSeparator="," thousandsSeparator=".">{room.room_min_price} </f:format.number>€&nbsp;p.N.
    </div>
    <div>
        <i class="fa fa-heart hide" style="color: #cacaca;"></i>
        <f:link.action action="roomDetail" arguments="{roomUid : room.room_uid}" title="Angebot {room.room_title} ansehen" class="doAjax" pageType="100">
            Details&nbsp;<i class="fa fa-arrow-circle-right"></i>
        </f:link.action>
    </div>
</div>