<div class="accommodation_item">
    <f:comment>
        <div class="accommodation_item_left">
            <div class="accommodation_item_previewImage">

                <f:for each="{accommodation.images}" as="image">
                    <tm:wildEastImage src="{image.path}" alt="{accommodation.title} - Bild" width="320" />
                </f:for>
            </div>
            <div class="bot_slider">
                <f:for each="{accommodation.images}" as="image">
                    <tm:wildEastImage src="{image.path}" alt="{accommodation.title} - Bild" height="85" />
                </f:for>
            </div>
        </div>
    </f:comment>
    <div class="accommodation_item_left">
        <div class="accommodation_item_previewImage">
            <f:for each="{accommodation.images}" as="image">
                <img src="{image.path}" alt="{accommodation.title} - Bild" width="320px" />
            </f:for>
        </div>
        <div class="bot_slider">
            <f:for each="{accommodation.images}" as="image">
                <img src="{image.path}" alt="{accommodation.title} - Bild" style="height:85px" />
            </f:for>
        </div>
    </div>
    <div class="accommodation_item_right">
        <div class="accommodation_item_right_header">
            <h2>{accommodation.accommodation_title}</h2>

            <div class="accommodation_item_right_header_place"><i class="fa fa-map-marker"></i>&nbsp;{accommodation.accommodation_city}</div>
            <f:if condition="{accommodation.votes}">
                <div class="accommodation_item_right_header_stars"><tm:afrating rating="{accommodation.accommodation_rating_overall}" maxrating="6" /></div>
            </f:if>
        </div>
        <div class="accommodation_item_right_body">
            <p><span><i class="fa fa-user"></i>&nbsp;Personen:</span><span class="accommodation_item_right_body_detail"> {accommodation.min_person}-{accommodation.max_person}</span></p>
            <f:if condition="{accommodation.min_bedrooms}">
                <f:then>
                    <p><span><i class="fa fa-bed"></i>&nbsp;Schlafzimmer:</span><span class="accommodation_item_right_body_detail"> {accommodation.min_bedrooms}-{accommodation.max_bedrooms}</span></p>
                </f:then>
                <f:else>
                    <p><span><i class="fa fa-bed"></i>&nbsp;Schlafzimmer:</span><span class="accommodation_item_right_body_detail"> 1-{accommodation.max_bedrooms}</span></p>
                </f:else>
            </f:if>
            <p><span><i class="fa fa-paw"></i>&nbsp;Haustiere:</span><span class="accommodation_item_right_body_detail"> {accommodation.accommodation_pets}</span></p>
        </div>
        <div class="accommodation_item_rooms hidden-xs">
            <p>Wohnungen in diesem Objekt</p>
            <f:for each="{accommodation.rooms}" as="room">
                <f:render partial="Accommodation/RoomListItem" arguments="{room : room}" />
            </f:for>
        </div>
    </div>
    <div class="accommodation_item_rooms_xs visible-xs">
        <div id="room-details-opener"><i class="fa fa-angle-down"></i></div>
        <div id="room-details-container">
            <f:for each="{accommodation.rooms}" as="room">

                <div>
                    <div>{room.room_min_person}-{room.room_max_person}&nbsp;Pers.</div>
                    <div>{room.size} m²</div>
                    <f:if condition="{room.bedrooms}">
                        <f:then>
                            <div style="width: 18%;">{room.bedrooms}-Raum</div>
                        </f:then>
                        <f:else>
                            <div style="width: 18%;">1-Raum</div>
                        </f:else>
                    </f:if>
                    <div>
                        <f:format.number decimals="2" decimalSeparator="," thousandsSeparator=".">{room.room_min_price} </f:format.number>€&nbsp;p.N.
                    </div>
                    <div>
                        <a style="margin-right: 5px;"><i class="fa fa-heart"></i></a>
                        <f:link.action action="roomDetail" arguments="{roomUid : room.room_uid}" title="Angebot {room.room_title} ansehen" class="doAjax" pageType="100">
                            Details&nbsp;<i class="fa fa-arrow-circle-right"></i>
                        </f:link.action>
                    </div>
                </div>

                <div class="clear"></div>
            </f:for>
        </div>
    </div>
    <div class="preisListView">
        ab
        <f:format.number decimals="2" decimalSeparator="," thousandsSeparator=".">
            {accommodation.min_price}
        </f:format.number>
        € p.Nacht
    </div>
    <div class="gps-daten-object hide">
        <span class="gps-lati gps" data-value="{accommodation.accommodation_latitude}"></span>
        <span class="gps-long gps" data-value="{accommodation.accommodation_longitude}"></span>
        <span class="gps-title gps" data-value="{accommodation.accommodation_title}"></span>
        <span class="gps-obj-image gps" data-value="{accommodation.images.0.path}"></span>
        <div class="gps-preview">
            <div class="preview_image">
                <img src="{accommodation.images.0.path}" alt="{accommodation.title} - Bild" />
            </div>
            <div class="preview_header">
                <h2>{accommodation.accommodation_title}</h2>
                <f:if condition="{accommodation.votes}">
                    <div class="preview_header_stars"><tm:afrating rating="{accommodation.accommodation_rating_overall}" maxrating="6" /></div>
                </f:if>
            </div>
            <div class="preview_body">
                <p><span><i class="fa fa-user"></i>&nbsp;Personen:</span><span class="preview_body_detail"> {accommodation.min_person}-{accommodation.max_person}</span></p>
                <p><span><i class="fa fa-paw"></i>&nbsp;Haustiere:</span><span class="preview_body_detail"> {accommodation.accommodation_pets}</span></p>
                <f:if condition="{accommodation.min_bedrooms}">
                    <f:then>
                        <p><span><i class="fa fa-bed"></i>&nbsp;Schlafzimmer:</span><span class="preview_body_detail">{accommodation.min_bedrooms}-{accommodation.max_bedrooms}</span></p>
                    </f:then>
                    <f:else>
                        <p><span><i class="fa fa-bed"></i>&nbsp;Schlafzimmer:</span><span class="preview_body_detail">1-{accommodation.max_bedrooms}</span></p>
                    </f:else>
                </f:if>
                <p><span class="preview_body_detail">schon ab {accommodation.min_price} &euro;</span></p>
            </div>

            <div class="preview_rooms">
                <f:for each="{accommodation.rooms}" as="room">
                    <f:render partial="Accommodation/RoomListItem" arguments="{room : room}" />
                </f:for>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
