<div>
    <p class="bold red">Bitte überprüfen Sie noch einmal Ihre Buchungsdaten!</p>

    <p>Sehr geehrte Kundin, Sehr geehrter Kunde, <br>
        die Buchung erfolgt unter folgenden Namen: </p>

    <p><strong>Anschrift</strong><br>
        {bookingParameter.salutation} {bookingParameter.firstname} {bookingParameter.lastname}<br>
        {bookingParameter.street}<br>
        {bookingParameter.zipcode} {bookingParameter.city}<br>
        {bookingParameter.country}</p>

    <p>Telefon: {bookingParameter.email}<br>
        Email: {bookingParameter.phone}</p>

    <f:if condition="{bookingParameter.message}">
        <f:then>
            <p>{bookingParameter.message}</p>
        </f:then>
    </f:if>
</div>
<div class="bw-modal-detail-object">
    <div>
        <img src="{bookingParameter.room.accommodation.0.image.0.path}" alt="{accommodation.title} - Bild" />
        <p><strong>Daten der Unterkunft</strong></p>
        <p>{bookingParameter.room.accommodation.0.title}</p>
        <p>{bookingParameter.room.accommodation.0.street}</p>
        <p>{bookingParameter.room.accommodation.0.plz}&nbsp;{bookingParameter.room.accommodation.0.city}</p>
        <p>{bookingParameter.room.title}</p><br>
        <p><strong style="color: #1c94c4;">Buchungsdaten</strong></p>
        <p>{bookingParameter.datestart}&nbsp;-&nbsp;{bookingParameter.dateend}</p>
        <p>{overnightStays} Nächte, Erwachsene: {bookingParameter.adults}<f:if condition="{numberOfChildren}">, Kinder: {numberOfChildren}</f:if></p>
    </div>
    <div>
        <f:render partial="Accommodation/Inclusives" arguments="{inclusives : bookingParameter.roomInformation.content.resultitem.inclusive.incl, pricing : pricing, sumprice : bookingParameter.roomInformation.content.resultitem.sumprice}" />

        <f:if condition="{roomInformation.content.resultitem.payment.deposit}">
            <f:then>
                <h4>Zahlungsmodalitäten</h4>
                <table>
                    <tr>
                        <td>Anzahlung</td>
                        <td>{roomInformation.content.resultitem.payment.deposit} &euro;</td>
                    </tr>
                    <tr>
                        <td>Abschlusszahlung</td>
                        <td>{roomInformation.content.resultitem.payment.final} &euro;</td>
                    </tr>
                </table>
            </f:then>
        </f:if>
    </div>

    <div style="clear: both;"></div>
    <button id="bw-modal-detail-button-final" data-url="{f:uri.action(action : 'bookingCompleteStep', pageType : 100)}" class="submit btn btn-primary">Kostenpflichtig buchen</button>
</div>