{namespace tm=Telematika\TmChillio\ViewHelpers}
<div>
    <f:form action="bookingSecondStep" id="bw-modal-booking1-form" pageType="100">
        <f:form.hidden name="room" value="{room}" />
        <h4>Geben Sie Ihre Reisedaten ein:</h4>

        <div class="form-group">
            <f:form.textfield class="form-control" name="datestart" id="bw-modal-booking1-date-from" placeholder="Anreise" value="{datestart}" required="1" />
            <f:form.textfield class="form-control" name="dateend" id="bw-modal-booking1-date-to" placeholder="Abreise" value="{dateend}" required="1" />
        </div>

        <div style="clear:both;"></div>

        <h4>Wer kommt alles mit?</h4>
        <fieldset id="bw-modal-booking1-person">
            <div class="adult_filter">
                <f:form.select name="adults" id="bw-modal-booking1-search-adults" class="selectMenu" options="{adultSelectFields}" />
            </div>
            <div class="child_filter">
                <f:form.select name="childs" id="bw-modal-booking1-search-childs" class="selectMenu" options="{childSelectFields}" />
            </div>
            <p class="clear"><a href="#" id="booking_child_link">- Alter der Kinder bearbeiten -</a></p>

            <div class="clear child_ages" style="display: none;">
                <p>Bitte geben Sie die Anzahl der Kinder an.</p>
                <f:for each="{childSelectFields}" as="childSelectField" iteration="it">
                    <f:if condition="{it.index} > 0">
                        <div class="age-child-item col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <span>{it.index}. Kind</span>
                            <f:form.select name="childs_age[]" class="selectMenu child_age" options="{childSelectAges}" />
                        </div>
                    </f:if>
                </f:for>
            </div>
        </fieldset>

        <div class="form-group" style="width: 100%">
            <div class="search_update" data-url="{f:uri.action(action : 'getPricingForRoom', pluginName : 'SearchForm', pageType : 100)}">
                <button>&nbsp;</button>
            </div>
        </div>

        <div class="bw-modal-booking1-object">
            <f:render partial="Accommodation/PricingFirstBookingStep" arguments="{roomInformation : roomInformation}" />
        </div>

    </f:form>
</div>