{namespace tm=Telematika\TmChillio\ViewHelpers}
<div>
    <f:form action="bookingFinalStep" method="post" id="bw-modal-step2-form" pageType="100">
        <h4>Geben Sie Ihre persönlichen Daten ein:</h4>
        <p>Bitte füllen Sie alle mit * gekennzeichneten Felder aus.</p>

        <div class="radio">
            <label>
                <f:form.radio name="formData[salutation]" id="optionsRadios1" checked="1" value="Herr" />
                Herr
            </label>
            <label>
                <f:form.radio name="formData[salutation]" id="optionsRadios2" value="Frau" />
                Frau
            </label>
        </div>
        <div class="form-group">
            <tm:tmTextfield name="formData[firstname]" minlength="2" required="1" class="form-control" id="bwModalAddressName" placeholder="Vorname*" value="Thomas" />
        </div>

        <div class="form-group">
            <tm:tmTextfield name="formData[lastname]" minlength="2" required="1" class="form-control" id="bw-modal-address-firstname" placeholder="Name*" value="Reichwein" />
        </div>
        <div style="clear: both;"></div>
        <div class="form-group">
            <tm:tmTextfield name="formData[street]" minlength="2" required="1" class="form-control" id="bw-modal-address-street" placeholder="Straße*" value="Meine Straße 7" />
        </div>
        <div class="form-group plz">
            <tm:tmTextfield name="formData[zip]" minlength="5" maxlength="5" required="1" class="form-control" id="bw-modal-address-zip" placeholder="PLZ*" value="12345" />
            <tm:tmTextfield name="formData[city]" minlength="3" required="1" class="form-control" id="bw-modal-address-city" placeholder="Ort*" value="Rostock" />
        </div>
        <div style="clear: both;"></div>
        <div class="form-group">
            <tm:tmTextfield name="formData[country]" minlength="2" required="1" class="form-control" id="bw-modal-address-country" placeholder="Land*" value="Holland" />
        </div>
        <div style="clear: both;"></div>
        <div class="form-group">
            <tm:tmTextfield name="formData[email]" minlength="2" required="1" class="form-control" id="bwModalAddressEmail" placeholder="Email*" value="email@email.de" />
        </div>
        <div class="form-group">
            <tm:tmTextfield name="formData[phone]" minlength="2" required="1" class="form-control" id="bw-modal-address-telefon" placeholder="Telefon*" value="017868162717" />
        </div>
        <div style="clear: both;"></div>
        <div class="form-group message">
            <div>
                <f:form.textarea name="formData[message]" id="bw-modal-address-message" placeholder="Anmerkung" />
            </div>
        </div>
        <div class="error"></div>
        <f:form.submit id="bw-modal-detail-button-2" class="submit btn btn-primary" value="weiter" />
    </f:form>
</div>