{namespace tm=Telematika\TmChillio\ViewHelpers}
<div class="detail_container">

    <div>
        <h4>{accommodation.title}</h4>
    </div>

    <div class="accommodation_item_detail">
        <div class="accommodation_item_left_detail">
            <div class="accommodation_item_previewImage_detail">
                <f:for each="{accommodation.image}" as="image">
                    <img src="{image.path}" alt="{accommodation.title} - Bild" width="640"/>
                </f:for>
            </div>
            <div class="bot_slider">
                <f:for each="{accommodation.image}" as="image">
                    <img src="{image.path}" alt="{accommodation.title} - Bild" height="85"/>
                </f:for>
            </div>
        </div>
    </div>

    <div style="clear: both;"></div>


    <div class="detail_content">
        <f:comment>
            Angebotsdetails:
            {accommodation.objectId}
            {accommodation.street}
            {accommodation.plz}
            {accommodation.city}

            {accommodation.pets}
            {accommodation.gps}
            accommodation.room array
        </f:comment>
        <div class="detail_content_left col-xs-11 col-sm-10 col-md-10 col-lg-10">
            <h4>Ausstattung</h4>
            <ul class="detail_view_feature_list">

                <f:for each="{accommodation.feature}" as="features">
                    <li><span data-toggle="tooltip" data-placement="top" title="{features.name}"><i
                            class="fa fa-check"></i>{features.name}</span></li>
                </f:for>
            </ul>
            <div id="features_more_DOR">...mehr</div>
            <div id="features_less_DOR">...weniger</div>
            <div style="clear:both;"></div>
            <h4>Beschreibung</h4>

            <div id="detailObjectRemark">
                <f:format.html>{accommodation.remark}</f:format.html>

            </div>
            <div id="read_more_DOR">...mehr</div>
            <div id="read_less_DOR">...weniger</div>
            <h4>Kartenansicht
                <span id="showMap_DOR">
                <i class="fa fa-chevron-down"></i>
                </span>
                 <span id="hideMap_DOR">
                <i class="fa fa-chevron-up"></i>
                </span>
            </h4>

            <div id="map" style="height: 250px; margin-bottom: 30px;">

            </div>

            <f:if condition="{accommodation.votes}">
                <f:then>
                    <h4>Bewertungen
                        <span id="showRating_DOR">
                            <i class="fa fa-chevron-down"></i>
                        </span>
                        <span id="hideRating_DOR">
                            <i class="fa fa-chevron-up"></i>
                        </span>
                    </h4>

                    <div id="objectRating">
                        <p><span>{accommodation.votes} Bewertungen</span>
                            <tm:afrating rating="{accommodation.ratingOverall}" maxrating="6"/>
                        </p>
                        <ul>
                            <li><span>Ausstattung Zimmer/Fewo</span>
                                <tm:afrating rating="{accommodation.rating.0.points}" maxrating="6"/>
                            </li>
                            <li><span>Sauberkeit</span>
                                <tm:afrating rating="{accommodation.rating.1.points}" maxrating="6"/>
                            </li>
                            <li><span>Service & Freundlichkeit</span>
                                <tm:afrating rating="{accommodation.rating.2.points}" maxrating="6"/>
                            </li>
                            <li><span>Lage der Unterkunft (wie beschrieben)</span>
                                <tm:afrating rating="{accommodation.rating.3.points}" maxrating="6"/>
                            </li>
                        </ul>
                        <ul>
                            <li><span>Beschreibung entsprach der Unterkunft</span>
                                <tm:afrating rating="{accommodation.rating.4.points}" maxrating="6"/>
                            </li>
                            <li><span>Preis-Leistung</span>
                                <tm:afrating rating="{accommodation.rating.5.points}" maxrating="6"/>
                            </li>
                            <li><span>Empfehlenswert</span>
                                <tm:afrating rating="{accommodation.rating.6.points}" maxrating="6"/>
                            </li>
                        </ul>
                    </div>
                </f:then>
            </f:if>
            <h4>Belegungskalender
             <span id="showCalender_DOR">
                <i class="fa fa-chevron-down"></i>
                </span>
                 <span id="hideCalender_DOR">
                <i class="fa fa-chevron-up"></i>
                </span>
            </h4>

            <div id="belegungskalender"></div>
            <script>
                $('#belegungskalender').datepicker({
                    numberOfMonths: 12,
                    firstDay: 1
                });
                $('.ui-datepicker-multi').css({width: '100%'});
            </script>
        </div>
        <div class="detail_content_right">
            <div class="showDetails"><f:link.action action="bookingFirstStep" arguments="{accommodation : accommodation}" controller="Accommodation" pageType="100"><span>Angebot erstellen</span></f:link.action></div>
            <div class="to_the_list"><a><i class="fa fa-heart-o"></i><span>Auf die Merkliste</span></a></div>
            <div class="back_to_objectlist">
                <f:link.action action="search" controller="Accommodation" pluginName="SearchForm" pageType="100" arguments="{restoreSession : 1}" class="doAjax">
                    <i class="fa fa-share"></i><span>zurück zur Auswahl</span>
                </f:link.action>
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
    <!-- Beginn Buchungswizard mit Bootstrap Modal-->
    <div class="modal fade" id="bw-modal-booking1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <!--<button type="button" class="back" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true"><i class="fa fa-angle-left fa-2x"></i>&nbsp;zurück</span></button>-->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Ein Angebot erstellen lassen und online buchen</h4>
                </div>
                <div class="modal-body">
                    <f:comment>Booking Form Step 1 here</f:comment>
                </div>
                <div class="modal-footer"></div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>
