<f:be.container addCssFile="{f:uri.resource(path:'css/backend.css')}">
    <div class="typo3-fullDoc">
        <div id="typo3-docheader">
            <div id="typo3-docheader-row1">
                <div class="buttonsleft">

                </div>
                <div class="buttonsright">
                    <f:be.buttons.shortcut />
                </div>
            </div>
            <div id="typo3-docheader-row2">
                <div class="docheader-row2-right">
                    <f:be.pagePath />
                    <f:be.pageInfo />
                </div>
            </div>

        </div>
        <div id="typo3-docbody">
            <div id="typo3-inner-docbody">
                <f:flashMessages renderMode="div" />

                <h1>Bewertungen</h1>

                <p><f:link.action action="updateAccommodationRatings">Bewertungen aktualisieren</f:link.action></p>
                <p>&nbsp;</p>
                <p>Gesamtbewertung: <f:format.number decimals="2">{overallRating.rating}</f:format.number> / 6 bei {overallRating.votes} Bewertungen</p>


                <f:widget.paginate objects="{accommodations}" as="paginatedAccommodations" configuration="{itemsPerPage: 10, insertAbove: 1, insertBelow: 0, maximumNumberOfLinks: 10}">
                    <br>
                    <table>
                        <tr>
                            <th>Objektname</th>
                            <th>Bewertung</th>
                            <th>Anzahl der Bewertungen</th>
                            <th>Einzelbewertungen</th>
                        </tr>
                        <f:for each="{paginatedAccommodations}" as="accommodation" >
                            <tr>
                                <td>{accommodation.title}</td>
                                <td>{accommodation.ratingOverall}</td>
                                <td>{accommodation.votes}</td>
                                <td>
                                    <f:if condition="{accommodation.rating.0}">
                                        <table>
                                            <tr>
                                                <f:for each="{accommodation.rating}" as="rating">
                                                    <td>{rating.points}/6</td>
                                                </f:for>
                                            </tr>
                                        </table>
                                    </f:if>
                                </td>
                            </tr>
                        </f:for>
                    </table>
                </f:widget.paginate>
            </div>
        </div>
    </div>
</f:be.container>

