{namespace tm=Telematika\TmChillio\ViewHelpers}
<div class="detail_container">

    <div>
        <h4>{room.accommodation.0.title}</h4>
    </div>

    <div class="accommodation_item_detail">
        <f:if condition="{room.image.0}">
            <f:then>
                <div class="accommodation_item_left_detail">
                    <div class="accommodation_item_previewImage_detail">
                        <f:for each="{room.image}" as="image">
                            <img src="{image.path}" alt="{room.accommodation.0.title} - Bild" width="640"/>
                        </f:for>
                    </div>
                    <div class="bot_slider">
                        <f:for each="{room.image}" as="image">
                            <img src="{image.path}" alt="{room.accommodation.0.title} - Bild" height="85"/>
                        </f:for>
                    </div>
                </div>
            </f:then>
            <f:else>
                <div class="accommodation_item_left_detail">
                    <div class="accommodation_item_previewImage_detail">
                        <f:for each="{room.accommodation.0.image}" as="image">
                            <img src="{image.path}" alt="{room.accommodation.0.title} - Bild" width="640"/>
                        </f:for>
                    </div>
                    <div class="bot_slider">
                        <f:for each="{room.accommodation.0.image}" as="image">
                            <img src="{image.path}" alt="{room.accommodation.0.title} - Bild" height="85"/>
                        </f:for>
                    </div>
                </div>
            </f:else>
        </f:if>
    </div>

    <div style="clear: both;"></div>
    <div class="detail_content_right">
        <div class="back_to_objectlist">
            <f:link.action action="search" controller="Accommodation" pluginName="SearchForm" pageType="100" arguments="{restoreSession : 1}" class="doAjax">
                <i class="fa fa-angle-left fa-2x"></i><div style="position: relative; top: -34px; left: 20px;">zurück zur Auswahl</div>
            </f:link.action>
        </div>
        <div class="to_the_list"><a><i class="fa fa-heart"></i><span>Auf die Merkliste</span></a></div>
        <div class="to_calendar"><a>Verfügbarkeit prüfen</span></a></div>
        <div class="showDetails">
            <f:link.action action="bookingFirstStep" arguments="{room : room}" controller="Accommodation" pageType="100">
                <span>Preis berechnen</span>
            </f:link.action>
        </div>

    </div>

    <div class="detail_content">
        <f:comment>
            Angebotsdetails:
            {accommodation.objectId}
            {accommodation.street}
            {accommodation.plz}
            {accommodation.city}

            {accommodation.pets}
            {accommodation.gps}
            accommodation.room array
        </f:comment>

        <div class="detail_content_left col-xs-11 col-sm-12 col-md-12 col-lg-12">
            <h4>Ausstattung</h4>
            <ul class="detail_view_feature_list">

                <f:for each="{room.feature}" as="features">
                    <li><span data-toggle="tooltip" data-placement="top" title="{features.name}"><i
                            class="fa fa-check"></i>{features.name}</span></li>
                </f:for>
            </ul>
            <div id="features_more_DOR">...mehr</div>
            <div id="features_less_DOR">...weniger</div>
            <div style="clear:both;"></div>

            <h4>Beschreibung</h4>
            <div id="detailObjectRemark">
                <f:format.html>{room.accommodation.0.remark}</f:format.html>
            </div>
            <div id="read_more_DOR">...mehr</div>
            <div id="read_less_DOR">...weniger</div>
            <h4>Kartenansicht
                <span id="showMap_DOR">
                <i class="fa fa-chevron-down"></i>
                </span>
                 <span id="hideMap_DOR">
                <i class="fa fa-chevron-up"></i>
                </span>
            </h4>

            <div id="karte" style="height: 250px; margin-bottom: 30px;">
                <div style="display: none;">
                    <input id="gps-lati" type="text" value="{room.accommodation.0.latitude}">
                    <input id="gps-long" type="text" value="{room.accommodation.0.longitude}">
                </div>

            </div>

            <f:if condition="{room.accommodation.votes}">
                <f:then>
                    <h4>Bewertungen
                        <span id="showRating_DOR">
                            <i class="fa fa-chevron-down"></i>
                        </span>
                        <span id="hideRating_DOR">
                            <i class="fa fa-chevron-up"></i>
                        </span>
                    </h4>

                    <div id="objectRating">
                        <p><span>{room.accommodation.votes} Bewertungen</span>
                            <tm:afrating rating="{room.accommodation.ratingOverall}" maxrating="6"/>
                        </p>
                        <ul>
                            <li><span>Ausstattung Zimmer/Fewo</span>
                                <tm:afrating rating="{room.accommodation.rating.0.points}" maxrating="6"/>
                            </li>
                            <li><span>Sauberkeit</span>
                                <tm:afrating rating="{room.accommodation.rating.1.points}" maxrating="6"/>
                            </li>
                            <li><span>Service & Freundlichkeit</span>
                                <tm:afrating rating="{room.accommodation.rating.2.points}" maxrating="6"/>
                            </li>
                            <li><span>Lage der Unterkunft (wie beschrieben)</span>
                                <tm:afrating rating="{room.accommodation.rating.3.points}" maxrating="6"/>
                            </li>
                        </ul>
                        <ul>
                            <li><span>Beschreibung entsprach der Unterkunft</span>
                                <tm:afrating rating="{room.accommodation.rating.4.points}" maxrating="6"/>
                            </li>
                            <li><span>Preis-Leistung</span>
                                <tm:afrating rating="{room.accommodation.rating.5.points}" maxrating="6"/>
                            </li>
                            <li><span>Empfehlenswert</span>
                                <tm:afrating rating="{room.accommodation.rating.6.points}" maxrating="6"/>
                            </li>
                        </ul>
                    </div>
                </f:then>
            </f:if>
            <h4>Belegungskalender
             <span id="showCalender_DOR">
                <i class="fa fa-chevron-down"></i>
                </span>
                 <span id="hideCalender_DOR">
                <i class="fa fa-chevron-up"></i>
                </span>
            </h4>
            <div id="belegungskalender-legende">
                <div class="sel-range"><i class="fa fa-square"></i>gewählter Zeitraum</div>
                <div class="free-range"><i class="fa fa-square"></i>verfügbar</div>
                <div class="notfree-range"><i class="fa fa-square"></i>nicht verfügbar</div>
            </div>
            <div class="clear"></div>
            <div id="belegungskalender" data-availability-url="{f:uri.action(action: 'getRoomAvailabilities', pageType: 100, arguments: {roomUid : room.Uid}, noCacheHash : 1)}"></div>

        </div>

        <div class="clear"></div>
        <div id="scrollToTop"><i class="fa fa-angle-up"></i>Oben</div>
    </div>
    <!-- Beginn Buchungswizard mit Bootstrap Modal-->
    <div class="modal fade" id="bw-modal-booking1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <!--<button type="button" class="back" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true"><i class="fa fa-angle-left fa-2x"></i>&nbsp;zurück</span></button>-->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Ein Angebot erstellen lassen und online buchen</h4>
                </div>
                <div class="modal-body">
                    <f:comment>Booking Form Step 1 here</f:comment>
                </div>
                <div class="modal-footer"></div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>
