{namespace tm=Telematika\TmChillio\ViewHelpers}
<f:form action="search" controller="Accommodation" pluginName="SearchForm" pageType="100" noCacheHash="1">
    <f:form.hidden name="sortby" id="search_sortby" value="normal" />

    <f:comment>
        <f:link.page pageUid="6" additionalParams="{region : 5457}">reg</f:link.page>
    </f:comment>

    <div id="search_where">
        <span>Wo soll es hingehen?</span>

        <f:if condition="{preselectedFirstLevelRegion}">
            <f:then>
                <div class="fieldset">
                    <tm:regionSelect targetAction="get2ndLevelRegions" targetController="Region" pageType="100" name="firstLevelRegion" options="{firstLevelRegions}" optionValueField="uid" optionLabelField="name" id="search_country" class="selectMenu" prependElement="{0: 'Bitte Region wählen'}" selectedValue="{preselectedFirstLevelRegion.uid}" />
                </div>
                <div class="fieldset">
                    <tm:regionSelect targetAction="get3rdLevelRegions" targetController="Region" pageType="100" name="secondLevelRegion" options="{secondLevelRegions}" optionValueField="uid" optionLabelField="name" id="search_region" class="selectMenu" prependElement="{0: 'Bitte Region wählen'}" />
                </div>
            </f:then>
        </f:if>

        <f:if condition="{preselectedSecondLevelRegion}">
            <f:then>
                <div class="fieldset">
                    <tm:regionSelect targetAction="get2ndLevelRegions" targetController="Region" pageType="100" name="firstLevelRegion" options="{firstLevelRegions}" optionValueField="uid" optionLabelField="name" id="search_country" class="selectMenu" prependElement="{0: 'Bitte Region wählen'}" selectedValue="{preselectedSecondLevelRegion.region.uid}" />
                </div>
                <div class="fieldset">
                    <tm:regionSelect targetAction="get3rdLevelRegions" targetController="Region" pageType="100" name="secondLevelRegion" options="{secondLevelRegions}" optionValueField="uid" optionLabelField="name" id="search_region" class="selectMenu" prependElement="{0: 'Bitte Region wählen'}" selectedValue="{preselectedSecondLevelRegion.uid}" />
                </div>
                <div class="fieldset">
                    <tm:regionSelect targetAction="get4thLevelRegions" targetController="Region" pageType="100" name="thirdLevelRegion" options="{thirdLevelRegions}" optionValueField="uid" optionLabelField="name" id="search_city" class="selectMenu" prependElement="{0: 'Bitte Stadt wählen'}" />
                </div>
            </f:then>
        </f:if>

        <f:if condition="{preselectedThirdLevelRegion}">
            <f:then>
                <div class="fieldset">
                    <tm:regionSelect targetAction="get2ndLevelRegions" targetController="Region" pageType="100" name="firstLevelRegion" options="{firstLevelRegions}" optionValueField="uid" optionLabelField="name" id="search_country" class="selectMenu" prependElement="{0: 'Bitte Region wählen'}" selectedValue="{preselectedThirdLevelRegion.region.region.uid}" />
                </div>
                <div class="fieldset">
                    <tm:regionSelect targetAction="get3rdLevelRegions" targetController="Region" pageType="100" name="secondLevelRegion" options="{secondLevelRegions}" optionValueField="uid" optionLabelField="name" id="search_region" class="selectMenu" prependElement="{0: 'Bitte Region wählen'}" selectedValue="{preselectedThirdLevelRegion.region.uid}" />
                </div>
                <div class="fieldset">
                    <tm:regionSelect targetAction="get4thLevelRegions" targetController="Region" pageType="100" name="thirdLevelRegion" options="{thirdLevelRegions}" optionValueField="uid" optionLabelField="name" id="search_city" class="selectMenu" prependElement="{0: 'Bitte Stadt wählen'}" selectedValue="{preselectedThirdLevelRegion.uid}" />
                </div>
                <f:if condition="{fourthLevelRegions}">
                    <div class="fieldset">
                        <tm:regionSelect targetAction="get5thLevelRegions" targetController="Region" pageType="100" name="fourthLevelRegion" options="{fourthLevelRegions}" optionValueField="uid" optionLabelField="name" id="search_town" class="selectMenu" prependElement="{0: 'Bitte Ort wählen'}" />
                    </div>
                </f:if>
            </f:then>
        </f:if>

        <f:if condition="{preselectedFourthLevelRegion}">
            <f:then>
                <div class="fieldset">
                    <tm:regionSelect targetAction="get2ndLevelRegions" targetController="Region" pageType="100" name="firstLevelRegion" options="{firstLevelRegions}" optionValueField="uid" optionLabelField="name" id="search_country" class="selectMenu" prependElement="{0: 'Bitte Region wählen'}" selectedValue="{preselectedFourthLevelRegion.region.region.region.uid}" />
                </div>
                <div class="fieldset">
                    <tm:regionSelect targetAction="get3rdLevelRegions" targetController="Region" pageType="100" name="secondLevelRegion" options="{secondLevelRegions}" optionValueField="uid" optionLabelField="name" id="search_region" class="selectMenu" prependElement="{0: 'Bitte Region wählen'}" selectedValue="{preselectedFourthLevelRegion.region.region.uid}" />
                </div>
                <div class="fieldset">
                    <tm:regionSelect targetAction="get4thLevelRegions" targetController="Region" pageType="100" name="thirdLevelRegion" options="{thirdLevelRegions}" optionValueField="uid" optionLabelField="name" id="search_city" class="selectMenu" prependElement="{0: 'Bitte Stadt wählen'}" selectedValue="{preselectedFourthLevelRegion.region.uid}" />
                </div>
                <div class="fieldset">
                    <tm:regionSelect targetAction="get5thLevelRegions" targetController="Region" pageType="100" name="fourthLevelRegion" options="{fourthLevelRegions}" optionValueField="uid" optionLabelField="name" id="search_town" class="selectMenu" prependElement="{0: 'Bitte Ort wählen'}" selectedValue="{preselectedFourthLevelRegion.uid}" />
                </div>
                <f:if condition="{fithLevelRegions}">
                    <div class="fieldset">
                        <tm:regionSelect targetAction="get5thLevelRegions" targetController="Region" pageType="100" name="fithLevelRegion" options="{fithLevelRegions}" optionValueField="uid" optionLabelField="name" id="search_town_region" class="selectMenu" prependElement="{0: 'Bitte Ort wählen'}" />
                    </div>
                </f:if>
            </f:then>
        </f:if>

        <f:if condition="{preselectedFithLevelRegion}">
            <f:then>
                <div class="fieldset">
                    <tm:regionSelect targetAction="get2ndLevelRegions" targetController="Region" pageType="100" name="firstLevelRegion" options="{firstLevelRegions}" optionValueField="uid" optionLabelField="name" id="search_country" class="selectMenu" prependElement="{0: 'Bitte Region wählen'}" selectedValue="{preselectedFithLevelRegion.region.region.region.region.region.uid}" />
                </div>
                <div class="fieldset">
                    <tm:regionSelect targetAction="get3rdLevelRegions" targetController="Region" pageType="100" name="secondLevelRegion" options="{secondLevelRegions}" optionValueField="uid" optionLabelField="name" id="search_region" class="selectMenu" prependElement="{0: 'Bitte Region wählen'}" selectedValue="{preselectedFithLevelRegion.region.region.region.region.uid}" />
                </div>
                <div class="fieldset">
                    <tm:regionSelect targetAction="get4thLevelRegions" targetController="Region" pageType="100" name="thirdLevelRegion" options="{thirdLevelRegions}" optionValueField="uid" optionLabelField="name" id="search_city" class="selectMenu" prependElement="{0: 'Bitte Stadt wählen'}" selectedValue="{preselectedFithLevelRegion.region.region.uid}" />
                </div>
                <div class="fieldset">
                    <tm:regionSelect targetAction="get5thLevelRegions" targetController="Region" pageType="100" name="fourthLevelRegion" options="{fourthLevelRegions}" optionValueField="uid" optionLabelField="name" id="search_town" class="selectMenu" prependElement="{0: 'Bitte Ort wählen'}" selectedValue="{preselectedFithLevelRegion.region.uid}" />
                </div>
                <div class="fieldset">
                    <tm:regionSelect targetAction="get5thLevelRegions" targetController="Region" pageType="100" name="fithLevelRegion" options="{fithLevelRegions}" optionValueField="uid" optionLabelField="name" id="search_town_region" class="selectMenu" prependElement="{0: 'Bitte Ort wählen'}" selectedValue="{preselectedFithLevelRegion.uid}" />
                </div>
            </f:then>
        </f:if>

        <f:if condition="{regions}">
            <f:then>
                <div class="fieldset">
                    <tm:regionSelect targetAction="get2ndLevelRegions" targetController="Region" pageType="100" name="firstLevelRegion" options="{regions}" optionValueField="uid" optionLabelField="name" id="search_country" class="selectMenu" prependElement="{0: 'Bitte Region wählen'}" />
                </div>
            </f:then>
        </f:if>

    </div>

    <div id="search_when">
        <div id="search_when_arrival">
            <div class="form-group">
                <label id="label-from" for="textfield-from">Anreise</label>
                <f:form.textfield class="from form-control" placeholder=" " name="datefrom" id="textfield-from" value="{arrival}" />
            </div>
        </div>
        <div id="search_when_departure">
            <div class="form-group">
                <label id="label-to" for="textfield-to">Abreise</label>
                <f:form.textfield class="to form-control" placeholder="Bitte wählen" name="dateto" id="textfield-to" value="{departure}" />
            </div>
        </div>
        <div style="clear: both;"></div>
        <div class="check_if_unknown_date">
            <f:form.checkbox name="no_travelDate" id="no_travelDate" value="1" />&nbsp;<label for="no_travelDate">Reisedatum noch unbekannt</label>
        </div>
    </div>

    <div id="search_who">
        <span>Wer kommt alles mit?</span>
        <fieldset>
            <f:form.select name="adults" id="search_adults" class="selectMenu" options="{adultSelectFields}" />

            <f:form.select name="childs" id="search_childs" class="selectMenu" options="{childSelectFields}" />
            <br><a href="#" id="search_who_child_link">- Alter der Kinder bearbeiten -</a>

            <!-- Alter festlegen der Kinder mit Bootstrap Modal -->
            <div class="modal fade" id="search_who_child_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Alter der Kinder bearbeiten</h4>
                        </div>
                        <div class="modal-body">
                            <div class="clear">
                                <p>Bitte geben Sie die Anzahl der Kinder an.</p>
                                <f:for each="{childSelectFields}" as="childSelectField" iteration="it">
                                    <f:if condition="{it.index} > 0">
                                        <div class="age-child-item col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <span>{it.index}. Kind</span>
                                            <f:form.select name="childs_age[]" class="selectMenu" options="{childSelectAges}" />
                                        </div>
                                    </f:if>
                                </f:for>
                            </div>
                        </div>
                        <div class="modal-footer"></div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
        </fieldset>
    </div>

    <div class="search_update">
        <button>&nbsp;</button>
    </div>

    <div id="search_pet">
        <f:form.checkbox name="pets" id="pets" value="1" />&nbsp;<label for="pets">mit Haustier</label>
    </div>

    <div id="search_accommodation_type">
        <span>Unterkunftstyp</span>
        <fieldset>
            <f:for each="{categories}" as="category" iteration="it">
                <div class="accommodation_type_item">
                    <f:form.checkbox id="accommodation_type_item_{it.cycle}" name="searchCategory[{category.Id}]" value="1" />
                    <label for="accommodation_type_item_{it.cycle}">{category.name}</label>
                </div>
            </f:for>
        </fieldset>
    </div>

    <div id="search_accommodation_equipment">
        <span>Ausstattungsmerkmale</span>
        <fieldset>
            <f:for each="{features}" as="feature" iteration="it">
                <div class="accommodation_equipment_item">
                    <f:form.checkbox id="accommodation_facility_item_{it.cycle}" name="searchFacility[{feature.type}][{feature.Id}]" value="1" />
                    <label for="accommodation_facility_item_{it.cycle}">{feature.name}</label>
                </div>
            </f:for>
        </fieldset>
    </div>

    <div class="search_update">
        <button>&nbsp;</button>
    </div>
  
</f:form>