{namespace tm=Telematika\TmChillio\ViewHelpers}
<f:flashMessages renderMode="div" />
<div class="alternative-text">
    <span class="bold">- Alternativ könnte Ihnen auch das gefallen -</span>
</div>
<f:if condition="{accommodations}">
    <f:then>
        <f:for each="{accommodations}" as="accommodation">
            <f:render partial="Accommodation/SearchResultItem" arguments="{accommodation : accommodation}" />
        </f:for>
    </f:then>
    <f:else>
        <p>Es wurden keine Unterkünfte gefunden.</p>
    </f:else>
</f:if>