<f:form action="searchForm" controller="Accommodation" pageUid="6" pluginName="SearchForm">
    <input type="hidden" name="regionurl" id="searchregionurl" value="{f:uri.action(action : 'searchForRegions', controller : 'Region', pageType : 101, noCacheHash : 1)}" />
    <f:form.textfield name="regionSword" placeholder="Wohin?" class="where" />
    <f:form.textfield name="arrival" placeholder="Anreise" class="arrival from" />
    <f:form.textfield name="departure" placeholder="Abreise" class="departure to" />
    <f:form.submit name="submit" value="Suchen" />
</f:form>